<h1>Azure Cosmos Db</h1>
<p>Creamos los recursos de Cosmos solamente una vez</p>
<form method="post">
    <button name="accion" value="" class="btn btn-outline-danger">Create Database y Container</button>
</form>
<a asp-controller="Coches"
asp-action="MisCoches"
class="btn btn-primary">Mis Coches</a>
<h2>@ViewData["MENSAJE"]</h2>